/Exercises/KDDCup99.csv
/Exercises/.idea
/Exercises/.venv
/Checkpoints/supervised_learning_Regression/.venv
/Checkpoints/supervised_learning_Regression/.idea
/Checkpoints/supervised_learning_Regression/5G_energy_consumption_dataset.csv
/.idea
/.venv
