/Exercises/KDDCup99.csv
/Exercises/.idea
/Exercises/.venv
/Checkpoints/supervised_learning_Regression/.venv
/Checkpoints/supervised_learning_Regression/.idea
/Checkpoints/supervised_learning_Regression/5G_energy_consumption_dataset.csv
/.idea
/.venv1
/Checkpoints/supervised_learning_Classification/African_crises_dataset.csv
/Checkpoints/unsupervised_learning_clustering/Credit_card_dataset.csv
/Checkpoints/Unsupervised_Association_Rules/Market_Basket_Optimisation.csv



